.avatarImage {
    width: 64px !important;
    height: 64px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.avatarImageChonky {
    width: 128px !important;
    height: 128px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.avatarImageBorder {
    border: 2px solid var(--hueletColor) !important;
    border-radius: 50% !important;
    padding: 2px !important;
}