.milkdown {
    background: #181718 !important;
    color: rgba(236, 239, 244, 0.87);
    padding: 1em;
    box-shadow: none !important;
    border: 1px solid #ffffff !important;
    scrollbar-width: thin;
    scrollbar-color: rgba(129, 161, 193, 0.38) rgba(129, 161, 193, 0.12);
    font-family: "Red Hat Text", sans-serif;
}

.editor {
    outline: none;
    margin: 0 !important;
    padding: 0 !important;
}

.paragraph {
    margin: 0 !important;
    padding: 0 !important;
}

.milkdown .editor p {
    margin: 0 !important;
    padding: 0 !important;
}

.milkdown .editor>* {
    margin: 0 !important;
    padding: 0 !important;
}