.creatorBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.20);
    border: 0.1em solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: 0.6s;
    padding: 2em;
    box-shadow: 0px -128px 139px 0px #1ed760;
    -webkit-box-shadow: 0px -128px 139px 0px #1ed760;
    -moz-box-shadow: 0px -128px 139px 0px #1ed760;
}
.creatorBodyDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.creatorBodyBio {
    flex-direction: column;
}
.creatorBodyBioText {
    flex-direction: column;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.creatorBodyProfileImage {
    padding: 1em;
}

.creatorBodyProfileImage img {
    border-radius: 50%;
}
.creatorBodySocials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nullModeToggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.creatorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.creatorHeaderImage {
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creatorHeaderImageDefault {
    width: 100vw;
    height: 500px;
    filter: blur(400em);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}