.footer {
    width: 100vw;
    height: 40vh;
    padding: 1rem;
}

.EasterEgg {
    aspect-ratio: 900/600;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.EasterEggSectionImg1 {
    background-image: url("./../assets/first-waves-est.svg");
}

.EasterEggSectionImg2 {
    background-image: url("./../assets/second-waves-est.svg");
}

.EasterEggSectionLong {
    background: #1e5ab0;
    width: 100vw;
    height: 400rem;
}