/* Text */
.mainText {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: 100;
    display: inline;
    text-align: center;
}

.xCardText {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    color: white;
}

/* Modals */
.closeModal {
    display: flex;
    justify-content: flex-end
}

.privacyModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #464546;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.privacyDemoClosed {
  display: hidden
}
.privacyDemo {
  width: 25em;
  height: 20em;
  background: #242424;
}
.privacyDemoBothText {
  color: #1a58ff;
  font-weight: bold;
}
.privacyDemoYouTubeText {
  color: #ff0000;
  font-weight: bold;
}
.privacyDemoHueletText {
  color: ;
  font-weight: bold;
}

.privacyModal:target {
    visibility: visible;
    opacity: 1;
}