/* Profile */
.profile {
    padding: 2em;
    width: 30em;
    height: 30em;
}

.column {
    display: flex;
    flex-direction: column;
}

.profileInner {
    width: 100%;
    height: 100%;
}

.profileImage {
    padding: 2em;
}

.profileImageInner {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
}

.profileImageUploadIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hueletColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

.profileImageUpload {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.profileImageUploadInput {
    display: none;
}

.profileImageUploadLabel {
    width: 15em;
    height: 15em;
    color: var(--white);
}

.profileImageUploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hueletColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

.userDetails {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.userDetailsInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.editBioInput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.editBioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hueletColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

.editLocationInput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.editLocationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hueletColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

.editPronounsInput {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.editPronounsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hueletColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    width: 100%;
}

/* Text */
.mainText {
    font-family: var(--fontFamily);
    font-size: 3em;
}

.usernameText {
    height: fit-content;
    font-family: var(--fontFamily);
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

/* Misc. */
.divider {
    width: 100%;
    height: 0px;
    left: calc(50% - 689px/2 - 334px);
    top: calc(50% - 0px/2 - 337px);
    border: 2px solid var(--dividerColor);
    margin-top: 2em;
}

.icon {
    filter: var(--iconColor);
}