.videoWrapper {
    padding: 2em;
    width: 800px;
    height: 430px;
}

.videoPlayer {
    padding-top: 56% !important;
}

.videoDetailsTitle {
    font-size: 3em;
}

.videoDetailsAuthor {
    padding: 1em;
    font-size: 2em;
}

.videoDetailsDesc {
    font-size: 1em;
}

.videoDetails {
    padding: 1.3em 4.3em;
}

.videoDetailsOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 12em;
}

.videoDetailsOptionsReaction {
    align-items: center;
    border-radius: 5rem;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: .25rem;
    margin-bottom: .25rem;
    user-select: none;
    border-color: #bde6fb;
    border: 0.1em solid;
    padding: 0.2em;
    width: 3em;
    background-color: #BDE6FB30;
    transition: 100ms;
}

.videoDetailsOptionsReaction:hover {
    background-color: #262e33;
}

.videoDetailsOptionsReactionActive {
    background-color: #436072;
}

.videoDetailsOptionsReactionPositive {
    object-fit: contain;
}

.videoDetailsOptionsReactionNegative {
    object-fit: contain;
}

.videoDetailsOptionsReactionPositiveImg {
    width: 1.375em;
    height: 1.375em;
}

.videoDetailsOptionsReactionNegativeImg {
    width: 1.5em;
    height: 1.5em;
}

.videoDetailsOptionsShareImg {
    padding: 0.3em;
}

.videoDetailsOptionsShareModal {
    display: flex;
    flex-direction: row;
}

.videoDetailsShareReaction {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: .25rem;
    margin-bottom: .25rem;
    user-select: none;
    border-color: #bde6fb;
    border: 0.1em solid;
    padding: 1em;
    background-color: #BDE6FB30;
    transition: 100ms;
}

.videoDetailsShareReaction:hover {
    background-color: #262e33;
}

.videoAttributes {
    padding: 1em;
}

.videoAttributesSpacerText {
    font-weight: 2em;
    font-size: 2em;
    padding: 3em;
}

.videoComments {
    padding: 1.3em 4.3em;
}

.videoCommentsHeading {
    padding: 0 0 0.7em 0.7em;
    font-size: 2.3em;
}

.videoCommentsBox {
    padding: 0 0 3em 3em;
}

.videoCommentsBoxText {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    margin: 0px;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 2px;
    border: medium none;
    color: rgb(50, 49, 48);
    width: 100%;
    min-width: 0px;
    text-overflow: ellipsis;
    outline: currentcolor none 0px;
    min-height: inherit;
    line-height: 17px;
    flex-grow: 1;
    overflow: hidden;
    transition: 100ms;
}

.videoCommentsBoxText:focus {
    outline: #ee8906 solid 0.2em;
}

.videoCommentsBoxSubmit {
    width: 5em;
    float: right;
}

.videoCommentsBoxSubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    outline: 0;
    background-color: #7600ff;
    cursor: pointer;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
}

.videoCommentsList {
    padding: 4em;
}

.unsafeContentPopup {
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-family: 'Red Hat Text', sans-serif;
}

.unsafeContentPopupIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3.5em;
    height: 3em;
    padding: 0.5em;
    border-radius: 50%;
    background: #ff0077;
}

.unsafeContentPopupText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 1em;
}

.unsafeContentPopupTextDescriptionHighlighted {
    padding-top: 0.5em;
    font-weight: 900;
}

.videoAttributesTitle {
    font-size: 2em;
}